* { box-sizing: border-box }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(141deg , #141b29 0%, #2b2f45 71%, #323158 100%);
}

.box {
  padding: 100px 20px 0 20px;
  margin: 0 auto;
  max-width: 750px;
}

.logo {
  width: 250px;
  height: 45px;
  background: url(https://app.geocode.earth/assets/logo-light-horizontal-24557ce78b063d6868297f848a30cf34d5a294deb1d0f6394d7d24fd8dfb3d89.svg) no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}

#result {
  color: #fff;
  margin-top: 50px;
}
